# Kanade's Enumerate ###########################################################
snippet enumK "Kanade's Enumerate, marvosym package required" b
\begin{enumerate}[label=\FlatSteel, leftmargin=*, noitemsep]
	\item $1
\end{enumerate} 
endsnippet
